certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
coverage==5.5
cryptography==3.4.7
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.7
Flask==2.0.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
mariadb==1.0.7
MarkupSafe==2.0.1
Mopidy==3.1.1
Mopidy-MPD==3.1.0
packaging==21.0
pycparser==2.20
PyJWT==2.1.0
pykka==3.0.1
pyparsing==2.4.7
python-mpd2==3.0.4
requests==2.25.1
tornado==6.1
urllib3==1.26.6
Werkzeug==2.0.1
